.btn {
	background-color: $skyBlue;
	color: $white;
	text-decoration: none;
	padding: .75rem 1.2rem;
	display: inline-block;
	font-weight: 400;

	&--white {
		background-color: $white;
		color: skyBlue;
	}

	&--large {
		padding: 1rem 1.5rem;
		font-size: 1.3rem;
	}

	&--transparent {
		background-color: $transBlue;
	}
}