@import "../../../../node_modules/lightbox2/dist/css/lightbox";

.lb-data .lb-close {
	background: url(../../assets/images/close.png) top right no-repeat;
}

.lb-nav a.lb-next {
	background: url(../../assets/images/next.png) right 48% no-repeat;
	z-index: 10;
}

.lb-nav a.lb-prev {
	background: url(../../assets/images/prev.png) left 48% no-repeat;
	z-index: 10;
}

.lb-cancel {
  background: url(../../assets/images/loading.gif) no-repeat;
}