@import "../../../../node_modules/lightbox2/dist/css/lightbox";

.lb-data .lb-close {
	background: url(../../assets/images/close.png) top right no-repeat;
}

.lb-nav a.lb-next {
	background: url(../../assets/images/next.png) right 48% no-repeat;
	z-index: 10;
}

.lb-nav a.lb-prev {
	background: url(../../assets/images/prev.png) left 48% no-repeat;
	z-index: 10;
}

.lb-cancel {
  background: url(../../assets/images/loading.gif) no-repeat;
}

.lightbox--images {
	margin-bottom: 20px; 

	@mixin atSmall {
		margin-bottom: 0px;
	}

	img {
		width: 100px;
		border: 2px;
		border-radius: 15px;
		margin: 2px;


		@mixin atSmall {
			width: 120px; 
		}

		@mixin atMedium {
			width: 140px;
		}

		@mixin atLarge {
			width: 160px;
		}
	}
}