.row {
	@mixin clearfix;

	&--t-padding {
		padding-top: 80px;
	}

	&--gutters {
		margin-right: -65px;
	}

	&--gutters-large {
		margin-right: -100px;
	}
	
	&--gutters-small {
		margin-right: -45px;
	}

	&--gutters > div {
		padding-right: 65px;
	}

	&--gutters-large > div {
		padding-right: 100px;
	}

	&--gutters-small > div {
		padding-right: 45px;
	}
	
	&__b-margin-until-medium {
		margin-bottom: 1rem;
	}

	@mixin atMedium {
		
		&__6 {
			float: left;
			width: 50%;
		}
	}
}