.row {
	@mixin clearfix;

	&--t-padding {
		padding-top: 80px;
	}

	&--gutters {
		margin-right: -65px;
	}

	&--gutters-large {
		margin-right: -100px;
	}
	
	&--gutters-small {
		margin-right: -45px;
	}

	&--gutters > div {
		padding-right: 65px;
	}

	&--gutters-large > div {
		padding-right: 100px;
	}

	&--gutters-small > div {
		padding-right: 45px;
	}
	
	&__b-margin-until-medium {
		margin-bottom: 1rem;
	}

	
	&--pull-up-row {

		@mixin atMedium {
			margin-top: -68px;
		}
	}

	@mixin atMedium {
		
		&__medium-6 {
			float: left;
			width: 50%;
		}

		&__medium-6-smaller {
			float: left;
			width: 40%;
		}

		&__medium-6-larger {
			float: left;
			width: 60%	
		}
	}


}